<style>
        .opac {
            background: url("{{ asset('build/images/static/pexels-expect-best-323780.jpg') }}") center no-repeat;
            background-size: 100%;
        }
</style>
<section class="opac">
    <div class="space-banner text-center d-flex justify-content-center align-items-center">
            <h2 class="wow fadeInDown">
                Bienvenus dans l’espace collaboratif de [ TITRE DE PROJET ]
            </h2>
    </div>
</section>