 
 <div class="banner" style="background-image: url({{ asset('build/images/static/welcoom-banner.jpg') }} )">
                <div class="child-banner">
                        <form>
                            <div class="col-recherche">
                                <div class="row">
                                    <div class="col-md-12" style="padding-left: 30px">
                                        <h5> Resultat de recherche pour: </h5>
                                    </div>
                                </div>
                                    <div class="row">
                                        <div class="col-md-6" style="padding-left: 30px;">
                                                <div style="display: flex">
                                                    <div class="form-group" style="width: 50%;position: relative;">
                                                        <label for="typologie">Typologie</label>
                                                        {# <input type="text" class="form-control" id="typologie" placeholder="Type de logement recherché"> #}
                                                        <i class="fas fa-angle-down"></i>
                                                            <select class="form-control" name="typologie" placeholder="typologie">
                                                            <optgroup>
                                                                <option value-"Recrutement">Autopromotion</option>
                                                                <option value-"Projet en cours">promotion immobilière</option>
                                                                <option value-"Projet en chantier">accession sociale</option>
                                                                <option value-"Projet en chantier">LLS participatif</option>
                                                            </optgroup>
                                                            </select>
                                                    </div>
                                                    <div class="form-group" style="width: 50%;">
                                                        <label for="typologie">Phase</label>
                                                        <div class="div-input">
                                                            <i class="fas fa-angle-down"></i>
                                                            <select class="form-control" name="phase" placeholder="Phase">
                                                                <optgroup>
                                                                    <option value-"Recrutement">Recrutement</option>
                                                                    <option value-"Projet en cours">Projet en cours</option>
                                                                    <option value-"Projet en chantier">Projet en chantier</option>
                                                                </optgroup>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="col-md-4" style="padding-left: 0;">
                                            <div class="form-group">
                                                <label for="typologie">Localisation</label>
                                                <div class="div-input">
                                                <i class="fas fa-map-marker-alt"></i>
                                                    <input type="text" class="form-control" id="localisation" placeholder="localisation">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2" style="padding: 0">
                                            <div class="form-group col-submit" style="margin-top: 29.5px;">
                                                <button type="button" class="btn btn-primary" style="padding-right: 0px;
    padding-left: 0;"><font>Rechercher</font></button>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </form>
                    </div>
        </div>