
<ul id="emo">
													<li class="m-1">:)</li>
													<li class="m-1">:-O</li>
													<li class="m-1">:]</li> 
													<li class="m-1">;]</li>
													<li class="m-1">:D</li>
													<li class="m-1">;D</li>
													<li class="m-1">x-d</li>
													<li class="m-1">:P</li>
													<li class="m-1">:p</li>													
													<li class="m-1">:[</li>
													<li class="m-1">:@</li>
													<li class="m-1">:(</li>
													<li class="m-1">:'(</li>
													<li class="m-1">:*</li>
													<li class="m-1">;)</li>
													<li class="m-1">:/</li>
													<li class="m-1">:s</li>
													<li class="m-1">:|</li>
													<li class="m-1">:-$</li>
													<li class="m-1">:-x</li>
													<li class="m-1">&#60;3</li>
													<li class="m-1">&#60;&#47;3</li>
													<li class="m-1">:bowtie:</li>
													<li class="m-1">:smile:</li>
													<li class="m-1">:laughing:</li>
													<li class="m-1">:blush:</li>
													<li class="m-1">:smiley:</li>
													<li class="m-1">:relaxed:</li>
													<li class="m-1">:smirk:</li>
													<li class="m-1">:heart_eyes:</li>
													<li class="m-1">:kissing_heart:</li>
													<li class="m-1">:kissing_closed_eyes:</li>
													<li class="m-1">:flushed:</li>
													<li class="m-1">:relieved:</li>
													<li class="m-1">:satisfied:</li>
													<li class="m-1">:grin:</li>
													<li class="m-1">:wink:</li>
													<li class="m-1">:stuck_out_tongue_winking_eye:</li>
													<li class="m-1">:stuck_out_tongue_closed_eyes:</li>
													<li class="m-1">:grinning:</li>
													<li class="m-1">:kissing:</li>
													<li class="m-1">:kissing_smiling_eyes:</li>
													<li class="m-1">:stuck_out_tongue:</li>
													<li class="m-1">:sleeping:</li>
													<li class="m-1">:worried:</li>
													<li class="m-1">:frowning:</li>
													<li class="m-1">:anguished:</li>
													<li class="m-1">:open_mouth:</li>
													<li class="m-1">:grimacing:</li>
													<li class="m-1">:confused:</li>
													<li class="m-1">:hushed:</li>
													<li class="m-1">:expressionless:</li>
													<li class="m-1">:unamused:</li>
													<li class="m-1">:sweat_smile:</li>
													<li class="m-1">:sweat:</li>
													<li class="m-1">:weary:</li>
													<li class="m-1">:pensive:</li>
													<li class="m-1">:disappointed:</li>
													<li class="m-1">:confounded:</li>
													<li class="m-1">:fearful:</li>
													<li class="m-1">:cold_sweat:</li>
													<li class="m-1">:persevere:</li>
													<li class="m-1">:cry:</li>
													<li class="m-1">:sob:</li>
													<li class="m-1">:joy:</li>
													<li class="m-1">:astonished:</li>
													<li class="m-1">:scream:</li>
													<li class="m-1">:neckbeard:</li>
													<li class="m-1">:tired_face:</li>
													<li class="m-1">:angry:</li>
													<li class="m-1">:rage:</li>
													<li class="m-1">:triumph:</li>
													<li class="m-1">:sleepy:</li>
													<li class="m-1">:yum:</li>
													<li class="m-1">:mask:</li>
													<li class="m-1">:sunglasses:</li>
													<li class="m-1">:dizzy_face:</li>
													<li class="m-1">:imp:</li>
													<li class="m-1">:smiling_imp:</li>
													<li class="m-1">:neutral_face:</li>
													<li class="m-1">:no_mouth:</li>
													<li class="m-1">:innocent:</li>
													<li class="m-1">:alien:</li>
													<li class="m-1">:yellow_heart:</li>
													<li class="m-1">:blue_heart:</li>
													<li class="m-1">:purple_heart:</li>
													<li class="m-1">:heart:</li>
													<li class="m-1">:green_heart:</li>
													<li class="m-1">:broken_heart:</li>
													<li class="m-1">:heartbeat:</li>
													<li class="m-1">:heartpulse:</li>
													<li class="m-1">:two_hearts:</li>
													<li class="m-1">:revolving_hearts:</li>
													<li class="m-1">:cupid:</li>
													<li class="m-1">:sparkling_heart:</li>
													<li class="m-1">:sparkles:</li>
													<li class="m-1">:star:</li>
													<li class="m-1">:star2:</li>
													<li class="m-1">:dizzy:</li>
													<li class="m-1">:boom:</li>
													<li class="m-1">:collision:</li>
													<li class="m-1">:anger:</li>
													<li class="m-1">:exclamation:</li>
													<li class="m-1">:question:</li>
													<li class="m-1">:grey_exclamation:</li>
													<li class="m-1">:grey_question:</li>
													<li class="m-1">:zzz:</li>
													<li class="m-1">:dash:</li>
													<li class="m-1">:sweat_drops:</li>
													<li class="m-1">:notes:</li>
													<li class="m-1">:musical_note:</li>
													<li class="m-1">:fire:</li>
													<li class="m-1">:hankey:</li>
													<li class="m-1">:poop:</li>
													<li class="m-1">:shit:</li>
													<li class="m-1">:+1:</li>
													<li class="m-1">:thumbsup:</li>
													<li class="m-1">:-1:</li>
													<li class="m-1">:thumbsdown:</li>
													<li class="m-1">:ok_hand:</li>
													<li class="m-1">:punch:</li>
													<li class="m-1">:facepunch:</li>
													<li class="m-1">:fist:</li>
													<li class="m-1">:v:</li>
													<li class="m-1">:wave:</li>
													<li class="m-1">:hand:</li>
													<li class="m-1">:open_hands:</li>
													<li class="m-1">:point_up:</li>
													<li class="m-1">:point_down:</li>
													<li class="m-1">:point_left:</li>
													<li class="m-1">:point_right:</li>
													<li class="m-1">:raised_hands:</li>
													<li class="m-1">:pray:</li>
													<li class="m-1">:point_up_2:</li>
													<li class="m-1">:clap:</li>
													<li class="m-1">:muscle:</li>
													<li class="m-1">:metal:</li>
													<li class="m-1">:walking:</li>
													<li class="m-1">:runner:</li>
													<li class="m-1">:running:</li>
													<li class="m-1">:couple:</li>
													<li class="m-1">:family:</li>
													<li class="m-1">:two_men_holding_hands:</li>
													<li class="m-1">:two_women_holding_hands:</li>
													<li class="m-1">:dancer:</li>
													<li class="m-1">:dancers:</li>
													<li class="m-1">:ok_woman:</li>
													<li class="m-1">:no_good:</li>
													<li class="m-1">:information_desk_person:</li>
													<li class="m-1">:raised_hand:</li>
													<li class="m-1">:bride_with_veil:</li>
													<li class="m-1">:person_with_pouting_face:</li>
													<li class="m-1">:person_frowning:</li>
													<li class="m-1">:bow:</li>
													<li class="m-1">:couplekiss:</li>
													<li class="m-1">:couple_with_heart:</li>
													<li class="m-1">:massage:</li>
													<li class="m-1">:haircut:</li>
													<li class="m-1">:nail_care:</li>
													<li class="m-1">:boy:</li>
													<li class="m-1">:girl:</li>
													<li class="m-1">:woman:</li>
													<li class="m-1">:man:</li>
													<li class="m-1">:baby:</li>
													<li class="m-1">:older_woman:</li>
													<li class="m-1">:older_man:</li>
													<li class="m-1">:person_with_blond_hair:</li>
													<li class="m-1">:man_with_gua_pi_mao:</li>
													<li class="m-1">:man_with_turban:</li>
													<li class="m-1">:construction_worker:</li>
													<li class="m-1">:cop:</li>
													<li class="m-1">:angel:</li>
													<li class="m-1">:princess:</li>
													<li class="m-1">:smiley_cat:</li>
													<li class="m-1">:smile_cat:</li>
													<li class="m-1">:heart_eyes_cat:</li>
													<li class="m-1">:kissing_cat:</li>
													<li class="m-1">:smirk_cat:</li>
													<li class="m-1">:scream_cat:</li>
													<li class="m-1">:crying_cat_face:</li>
													<li class="m-1">:joy_cat:</li>
													<li class="m-1">:pouting_cat:</li>
													<li class="m-1">:japanese_ogre:</li>
													<li class="m-1">:japanese_goblin:</li>
													<li class="m-1">:see_no_evil:</li>
													<li class="m-1">:hear_no_evil:</li>
													<li class="m-1">:speak_no_evil:</li>
													<li class="m-1">:guardsman:</li>
													<li class="m-1">:skull:</li>
													<li class="m-1">:feet:</li>
													<li class="m-1">:lips:</li>
													<li class="m-1">:kiss:</li>
													<li class="m-1">:droplet:</li>
													<li class="m-1">:ear:</li>
													<li class="m-1">:eyes:</li>
													<li class="m-1">:nose:</li>
													<li class="m-1">:tongue:</li>
													<li class="m-1">:love_letter:</li>
													<li class="m-1">:bust_in_silhouette:</li>
													<li class="m-1">:busts_in_silhouette:</li>
													<li class="m-1">:speech_balloon:</li>
													<li class="m-1">:thought_balloon:</li>
													<li class="m-1">:feelsgood:</li>
													<li class="m-1">:finnadie:</li>
													<li class="m-1">:goberserk:</li>
													<li class="m-1">:godmode:</li>
													<li class="m-1">:hurtrealbad:</li>
													<li class="m-1">:rage1:</li>
													<li class="m-1">:rage2:</li>
													<li class="m-1">:rage3:</li>
													<li class="m-1">:rage4:</li>
													<li class="m-1">:suspect:</li>
													<li class="m-1">:trollface:</li>
												</ul>