{% extends 'espace/base.html.twig' %}
{% set title = 'Espace collaboratif' %}
    {% block stylesheets %}
        <style>
            
        </style>
    {% endblock %}
{% block body %}
    {{ render(path("header")) }}
<section class="mb-5">
        <div class="container">
                    <div class="row mt-3 head-silder position-relative wow fadeInDown">
                            <div class="col-md-3 py-3">
                                    <div class="card-list d-flex align-content-between flex-wrap">
                                        <div class="d-grid">
                                            <h1> 11.02.2020 </h1>
                                            <h2> Amet minim </h2>
                                            <h3> deserunt ullamco </h3>
                                            <p>
                                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                                            </p>
                                        </div>
                                        <div>
                                        <h2 class="foot"> Amet minim </h2>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-md-3 py-3">
                                    <div class="card-list d-flex align-content-between flex-wrap">
                                        <div class="d-grid">
                                            <h1> 11.02.2020 </h1>
                                            <h2> Amet minim </h2>
                                            <h3> deserunt ullamco </h3>
                                            <p>
                                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                                            </p>
                                        </div>
                                        <div>
                                        <h2 class="foot"> Amet minim </h2>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-md-3 py-3">
                                    <div class="card-list d-flex align-content-between flex-wrap">
                                        <div class="d-grid">
                                            <h1> 11.02.2020 </h1>
                                            <h2> Amet minim </h2>
                                            <h3> deserunt ullamco </h3>
                                            <p>
                                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                                            </p>
                                        </div>
                                        <div>
                                        <h2 class="foot"> Amet minim </h2>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-md-3 py-3">
                                    <div class="card-list d-flex align-content-between flex-wrap">
                                        <div class="d-grid">
                                            <h1> 11.02.2020 </h1>
                                            <h2> Amet minim </h2>
                                            <h3> deserunt ullamco </h3>
                                            <p>
                                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                                            </p>
                                        </div>
                                        <div>
                                        <h2 class="foot"> Amet minim </h2>
                                        </div>
                                    </div>
                            </div>
                            <div class="parent-btn-next position-absolute d-flex justify-content-center align-items-center mr-3">
                                    <div class="d-flex justify-content-center align-items-center">
                                            <i class="fas fa-chevron-right"></i>
                                    </div>
                            </div>
                    </div>
                    <div class="row mt-3">
                            <div class="col-md-12 ml-0 pl-0">
                                <button class="btn btnSubmit d-flex"> Amet minim </button>
                            </div>
                            <div class="col-md-12 mt-3">
                                <div class="row d-flex justify-content-center" style="margin-left: 15em">
                                    <div class="col-md-6 cards-content">

                                    </div>
                                    <div class="col-md-6 wow section--blue wow fadeInDown" data-wow-delay="1s">
                                        <h2> Mollit quis veniam </h2>
                                        <p style="font-size: 12px">
                                                Mollit quis veniam nulla eu nostrud excepteur nulla consequat nisi culpa occaecat amet. Eiusmod magna est ipsum exercitation labore ipsum eu ad irure. Deserunt Lorem sit veniam adipisicing esse. Anim elit quis aute esse deserunt consectetur consectetur duis in ullamco in pariatur sit.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-3">
                                    <div class="row position-relative">
                                            <div class="col-md-6  wow section--blue wow fadeInDown" data-wow-delay="1s">
                                                <h2> Mollit quis veniam </h2>
                                                <p style="font-size: 12px">
                                                        Mollit quis veniam nulla eu nostrud excepteur nulla consequat nisi culpa occaecat amet. Eiusmod magna est ipsum exercitation labore ipsum eu ad irure. Deserunt Lorem sit veniam adipisicing esse. Anim elit quis aute esse deserunt consectetur consectetur duis in ullamco in pariatur sit. Commodo laborum enim elit ea minim fugiat. Aliqua aliqua incididunt minim deserunt et commodo id et tempor velit exercitation Lorem duis qui.
                                                </p>
                                            </div>
                                            <div class="col-md-4 seconds position-relative">
                                                    <div>

                                                    </div>
                                            </div>
                                    </div>
                            </div>
                    </div>
                    <div class="row mt-5 foo">
                            <div class="col-md-4 wow fadeInDown" data-wow-delay="1s">
                                <div class="cards-footer"></div>
                                <h2 class="mt-2"> Mollit quis </h2>
                            </div>
                            <div class="col-md-4 wow fadeInDown" data-wow-delay="2s">
                                <div class="cards-footer"></div>
                                <h2 class="mt-2"> nostrud excepteur </h2>
                            </div>
                            <div class="col-md-4 wow fadeInDown" data-wow-delay="3s">
                                <div class="cards-footer"></div>
                                <h2 class="mt-2"> nostrud excepteur </h2>
                            </div>
                    </div>
            </div>
</section>
    
{% endblock %}

{% block javascripts %}
    <script>
            $(function() {
                wow = new WOW(
                    {
                        animateClass: 'animated',
                        callback:     function(box) {
                        
                        }
                    }
                    );
                wow.init();
            })
    </script>
{% endblock %}